@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
  font-family: "RocaOne";
  src: url("./assets/fonts/RocaOne-Rg.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "nemo030";
  src: url("./assets/fonts/210 네모진 030.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "neo";
  src: url("./assets/fonts/NanumSquareNeo-cBd.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "neob";
  src: url("./assets/fonts/NanumSquareNeo-dEb.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "gothic";
  src: url("./assets/fonts/NanumGothic.ttf") format("woff");
  font-weight: 100;
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
